/* styles/globals.css */
@import 'bootstrap/dist/css/bootstrap.min.css';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  color: black;
  /* background-color: #94a3b8; */
}

a {
  text-decoration: none;
  color: inherit;
}







/* components/Footer.module.css */
.footer {
  background-color: #222;
  padding: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}

.linksColumn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-between;
  min-width: 80%;
}

.column {
  display: flex;
  flex-direction: column;
}

.icons {
  margin: 0 0.25rem;
}

.footerEnd {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-width: 75%;
  margin-top: 1.5rem;
}

.Link {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  margin: 0.25rem 0;
}

.ayushPortal {
  color: white !important;
}

@media screen and (min-device-width: 770px) and (max-device-width: 800px) {
  .footerEnd {
    min-width: 75%;
  }

  .linksColumn {
    min-width: 85%;
  }
}

@media screen and (min-device-width: 480px) and (max-device-width: 770px) {
  .footerEnd {
    display: grid;
    min-width: 100%;
    justify-content: center;
    text-align: center;
  }

  .column {
    margin: 2rem;
  }

  .linkMargin {
    margin: 1rem;
  }

  .linksColumn {
    display: grid;
    min-width: 70%;
    grid-template-columns: repeat(2, auto);
  }
}

@media screen and (max-device-width: 480px) {
  .linksColumn {
    display: grid;
    /* min-width: 70%; */
    grid-template-columns: repeat(1, auto);
    text-align: center;
  }

  .linksColumn {
    justify-content: center;
    min-width: 100%;
  }

  .footerEnd {
    display: grid;
    min-width: 100%;
    justify-content: center;
    text-align: center;
  }

  .column {
    margin: 2rem;
  }

  .linkMargin {
    margin: 1rem 0;
  }
}
