.container {
  display: flex;
  align-items: center;
  gap: 100px;
  height: 700px;
}

.item {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.title {
  font-size: 52px;
  background: linear-gradient(to bottom, #1d4ed8, #818cf8);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.desc {
  font-size: 24px;
  font-weight: 400;
}


.img {
  width: 100%;
  height: 500px;
  object-fit: contain;
}

/* section 2 */

.container2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 300px;
  font-size: 72px;
  font-weight: 900;
}

/* section 3 */
.container3 {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 100px;
  height: 700px;
}




/* Half Home Css Design */

/* body {
  background-color: white;
  color: #222;
  width: 100vw;
  overflow-x: hidden;
} */

.advSearch {
  background-color: #f5f8ff;
  padding: 6rem 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}

#advHeading {
  margin: 0 10rem;
}

#advSubHeading {
  margin: 2rem 15rem;
}

.featureContainer {
  display: flex;
  flex-direction: row;
}

.featureBox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  padding: 1rem 2rem;
  margin: 0 1rem;
}

.circle {
  padding: 1rem;
  color: white;
  border-radius: 100%;
}

#getStartedBtn {
  width: fit-content;
  background-color: #4046e6;
  color: white;
  padding: 1% 2%;
  border-radius: 5px;
}

#getStartedBtn:hover {
  background-color: rgb(16, 20, 134);
}

#solutionsContainer {
  padding: 6rem 8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}

#solutionsGrid {
  margin-top: 5rem;
  /* display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch; */
  display: grid;
  grid-template-columns: repeat(5, auto);
}

.solutionBox {
  padding: 1rem 1rem 2rem 1rem;
  margin: 0 0.5rem;
  border: 5px solid #dfeaff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}

#replaceWithImage {
  height: 160px;
  width: 160px;
  background-color: black;
  margin-bottom: 2rem;
  border-radius: 10px;
}

.lastPortion {
  background-color: #f5f8ff;
  padding: 6rem 8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.advHeading {
  font-size: 70px;
}

/* .footer {
  background-color: #222;
  padding: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
} */

/* .linksColumn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-between;
  min-width: 80%;
} */

/* .column {
  display: flex;
  flex-direction: column;
} */

/* .icons {
  margin: 0 0.25rem;
} */

/* .footerEnd {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-width: 75%;
  margin-top: 1.5rem;
} */

/* .Link {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  margin: 0.25rem 0;
} */

.ayushPortal {
  color: white !important;
}

@media screen and (min-device-width: 770px) and (max-device-width: 1024px) {
  .advSearch {
    padding: 6rem 8rem;
  }

  #advHeading {
    margin: 0 5rem;
  }

  #advSubHeading {
    margin: 2rem 10rem;
  }

  #solutionsGrid {
    margin-top: 5rem;
    grid-template-columns: repeat(5, auto);
  }
}

@media screen and (min-device-width: 770px) and (max-device-width: 800px) {
  .advSearch {
    padding: 6rem 4rem;
  }

  #advHeading {
    margin: 0 2rem;
  }

  #advSubHeading {
    margin: 2rem 6rem;
  }

  #solutionsGrid {
    grid-template-columns: repeat(3, auto);
  }

  .solutionBox {
    margin: 0.5rem;
  }

  /* .linksColumn {
    min-width: 85%;
  } */

  /* .footerEnd {
    min-width: 75%;
  } */
}

@media screen and (min-device-width: 480px) and (max-device-width: 770px) {
  .advSearch {
    padding: 6rem 4rem;
  }

  #advHeading {
    margin: 0 2rem;
    font-size: 2.5rem;
  }

  #advSubHeading {
    margin: 2rem 6rem;
    font-size: 0.8rem;
  }

  .fontSize {
    font-size: 0.8rem;
  }

  .marginBottom {
    margin-bottom: 2rem;
  }

  .featureBox {
    padding: 1rem;
    margin: 0 0.75rem;
  }

  #solutionsGrid {
    grid-template-columns: repeat(2, auto);
  }

  .solutionBox {
    margin: 0.5rem;
  }

  /* .linksColumn {
    display: grid;
    min-width: 70%;
    grid-template-columns: repeat(2, auto);
  } */

  /* .footerEnd {
    display: grid;
    min-width: 100%;
    justify-content: center;
    text-align: center;
  }

  .column {
    margin: 2rem;
  }

  .linkMargin {
    margin: 1rem;
  } */
}

@media screen and (max-device-width: 480px) {
  .advSearch {
    padding: 4rem 4rem;
  }

  #advHeading {
    margin: 0;
    font-size: 2rem;
  }

  #advSubHeading {
    margin: 2rem 0;
  }

  .marginBottom {
    margin-bottom: 2rem;
  }

  .featureContainer {
    flex-direction: column;
  }

  .featureBox {
    margin: 1rem;
  }

  .solutionsContainer {
    padding: 4rem;
  }

  #solutionsGrid {
    grid-template-columns: repeat(1, auto);
  }

  .solutionBox {
    margin: 0.5rem;
  }

  .lastPortion {
    padding: 4rem;
  }

  /* .linksColumn {
    display: grid;
    min-width: 70%;
    grid-template-columns: repeat(1, auto);
    text-align: center;
  }

  .linksColumn {
    justify-content: center;
    min-width: 100%;
  }

  .footerEnd {
    display: grid;
    min-width: 100%;
    justify-content: center;
    text-align: center;
  }

  .column {
    margin: 2rem;
  }

  .linkMargin {
    margin: 1rem 0;
  } */
}